<?php defined('ABSPATH') or die() ?>

<div
  <?php
    $classes = ['notice'];
    empty($view->type) or $classes[] = "notice-{$view->type}";
    empty($view->dismissible) or $classes[] = 'is-dismissible';

    echo 'class="' . implode(' ', $classes) . '"';
  ?>
>
  <p>
    <?=$view->content?>
  </p>
</div>
