<?php defined('ABSPATH') or die() ?>

<p>
  <?php
    if ($view->delay <= 3) {
      _e('You will be redirected right now.', 'kavenegar2fa');
    } else {
      _e('You will be redirected after a few seconds.', 'kavenegar2fa');
    }
  ?>
  <br>
  <?php
    /* translators: %s: redirection URL */
    $if_not = __('If not, please click <a href="%s">here</a>.', 'kavenegar2fa');
    printf($if_not, esc_url($view->to));
  ?>
</p>

<script>
  setTimeout(function () {
    window.location.href = '<?=$view->to?>';
  }, <?=$view->delay * 1000?>);
</script>
