<?php defined('ABSPATH') or die() ?>

<form method="post" action="<?=wp_login_url()?>">
  <p>
    <label for="kavenegar2fa_verif">
      <?=esc_html__('Verification code', 'kavenegar2fa');?>
    </label>
    <input
      class="input ltr"
      id="kavenegar2fa_verif"
      name="kavenegar2fa_verif"
      type="number"
      min="10000"
      max="99999"
      pattern="^\s*([0-9]{5})\s*$"
      required="required"
    />
  </p>

  <p>
    <input
      type="submit"
      class="button button-primary button-large"
      value="<?=esc_attr__('Continue', 'kavenegar2fa')?>"
    />

    <input
      name="action"
      type="hidden"
      value="kavenegar2fa_login_retrieve_verif"
    />
  </p>
</form>
