<?php defined('ABSPATH') or die() ?>

<form method="post" action="<?=wp_login_url()?>">
  <p>
    <label for="kavenegar2fa_phone">
      <?=esc_html__('Phone number', 'kavenegar2fa')?>
    </label>
    <input
      class="input ltr"
      id="kavenegar2fa_phone"
      name="kavenegar2fa_phone"
      type="tel"
      pattern="^\s*\+?([0-9]{10,12})\s*$"
      required="required"
      minlength="10"
      maxlength="13"
      <?php
        if (!empty($view->hint)) {
          /* translators: %s: phone number hint (e.g. +9891*******7) */
          $placeholder = esc_attr__('Hint: %s', 'kavenegar2fa');
          $placeholder = "placeholder=\"$placeholder\"";
          printf($placeholder, $view->hint);
        }
      ?>
    />
  </p>

  <p>
    <input
      type="submit"
      class="button button-primary button-large"
      value="<?=esc_attr__('Continue', 'kavenegar2fa')?>"
    />

    <input
      name="action"
      type="hidden"
      value="kavenegar2fa_login_retrieve_phone"
    />
  </p>
</form>
