<?php defined('ABSPATH') or die() ?>

<h2>
  <?=esc_html__('Two-Factor Authentication (2FA)', 'kavenegar2fa')?>
</h2>

<table class="form-table" role="presentation">
  <tr>
    <th scope="row">
      <?=esc_html__('Requiredness', 'kavenegar2fa')?>
    </th>
    <td>
      <label for="kavenegar2fa_2fa-required">
        <input
          class="ltr"
          id="kavenegar2fa_2fa-required"
          name="kavenegar2fa_2fa_required"
          type="checkbox"
          <?php if (!empty($view->twofa_required)): ?>
          checked="checked"
          <?php endif ?>
        />
        <?=esc_html__('Always peform two-factor authentication', 'kavenegar2fa')?>
      </label>
    </td>
  </tr>

  <tr
    <?php
      $classes = ['form-field'];
      empty($view->phone_required) or $classes[] = 'form-required';

      echo 'class="' . implode(' ', $classes) . '"';
    ?>
  >
    <th scope="row">
      <?=esc_html__('Phone number', 'kavenegar2fa')?>
      <span class="description">
        (<?php
          if (empty($view->phone_required)) {
            esc_html_e('optional', 'kavenegar2fa');
          } else {
            esc_html_e('required', 'kavenegar2fa');
          }
        ?>)
      </span>
    </th>
    <td>
      <input
        name="kavenegar2fa_phone"
        type="tel"
        pattern="^\s*\+?([0-9]{10,12})\s*$"
        minlength="10"
        maxlength="13"
        class="regular-text ltr"
        <?php if (!empty($view->phone)): ?>
        value="<?=esc_attr($view->phone)?>"
        <?php endif ?>
      />
    </td>
  </tr>
</table>
