<?php defined('ABSPATH') or die(); ?>

<h1>
  <?=esc_html__('Kavenegar 2FA', 'kavenegar2fa')?>
</h1>

<div class="wrap">
  <form method="post" action="options.php">
    <?php settings_fields('kavenegar2fa_group') ?>
    <?php do_settings_sections('kavenegar2fa_group') ?>

    <?php submit_button() ?>
  </form>
</div>
