<?php defined('ABSPATH') or die() ?>

<h2>
  <?=esc_html__('Two-Factor Authentication (2FA)', 'kavenegar2fa')?>
</h2>

<table class="form-table" role="presentation">
  <tr id="kavenegar2fa_2fa-required-wrap">
    <th>
      <?=esc_html__('Requiredness', 'kavenegar2fa')?>
    </th>
    <td>
      <label for="kavenegar2fa_2fa-required">
        <input
          id="kavenegar2fa_2fa-required"
          name="kavenegar2fa_2fa_required"
          type="checkbox"
          <?php if (!empty($view->twofa_required)): ?>
          checked="checked"
          <?php endif ?>
        />
        <?=esc_html__('Always peform two-factor authentication', 'kavenegar2fa')?>
      </label>
    </td>
  </tr>

  <tr id="kavenegar2fa_phone-wrap">
    <th>
      <?=esc_html__('Phone number', 'kavenegar2fa')?>
    </th>
    <td>
      <input
        name="kavenegar2fa_phone"
        type="tel"
        pattern="^\s*\+?([0-9]{10,12})\s*$"
        minlength="10"
        maxlength="13"
        class="regular-text ltr"
        <?php if (!empty($view->phone)): ?>
        value="<?=esc_attr($view->phone)?>"
        <?php endif ?>
      />

      <p class="description">
        <?=esc_html__('If you change this, we will send you a verification code via SMS.', 'kavenegar2fa')?>
      </p>

      <?php if (!$view->verif_disabled): ?>
        <div class="updated inline">
          <p>
            <?=esc_html__('This phone number is not verified yet. enter the verification code to verify it.', 'kavenegar2fa')?>
            <?php if (!empty($view->cancel_url)): ?>
              <a href="<?=$view->cancel_url?>">
                <?=esc_html__('Revert', 'kavenegar2fa')?>
              </a>
            <?php endif ?>
          </p>
        </div>
      <?php endif ?>

    </td>
  </tr>

  <tr id="kavenegar2fa_verif-wrap">
    <th>
      <?=esc_html__('Verification code', 'kavenegar2fa')?>
    </th>
    <td>
      <input
        name="kavenegar2fa_verif"
        type="number"
        min="10000"
        max="99999"
        pattern="^\s*([0-9]{5})\s*$"
        class="regular-text ltr"
        <?php if (!empty($view->verif_disabled)): ?>
        disabled="disabled"
        <?php endif ?>
        <?php if (!empty($view->verif)): ?>
        value="<?=esc_attr($view->verif)?>"
        <?php endif ?>
      />
    </td>
  </tr>

</table>
