<?php defined('ABSPATH') or die(); ?>

<p>
  <label for="kavenegar2fa_phone">
    <?=esc_html__('Phone number', 'kavenegar2fa')?>
  </label>
  <input
    id="kavenegar2fa_phone"
    name="kavenegar2fa_phone"
    class="input ltr"
    type="text"
    type="tel"
    pattern="^\s*\+?([0-9]{10,12})\s*$"
    minlength="10"
    maxlength="13"
    <?php if (!empty($view->phone_value)): ?>
    value="<?=$view->phone_value?>"
    <?php endif ?>
  />
</p>

<p>
  <input
    id="kavenegar2fa_send-code"
    class="button button-secondary button-large"
    type="button"
    value="<?=esc_attr__('Send Code', 'kavenegar2fa')?>"
    style="width: 100%; margin-bottom: 16px"
    type="number"
    min="10000"
    max="99999"
    pattern="^\s*([0-9]{5})\s*$"
  />
</p>

<p>
  <label for="kavenegar2fa_verif">
    <?=esc_html__('Verification code', 'kavenegar2fa')?>
  </label>
  <input
    id="kavenegar2fa_verif"
    name="kavenegar2fa_verif"
    class="input ltr"
    type="text"
  />
</p>
