<?php defined('ABSPATH') or die() ?>

<h2>
  <?=esc_html__('Two-Factor Authentication (2FA)', 'kavenegar2fa')?>
</h2>

<table class="form-table" role="presentation">
  <tr id="kavenegar2fa_2fa-required-wrap">
    <th>
      <?=esc_html__('Requiredness', 'kavenegar2fa')?>
    </th>
    <td>
      <label for="kavenegar2fa_2fa-required">
        <input
          id="kavenegar2fa_2fa-required"
          name="kavenegar2fa_2fa_required"
          type="checkbox"
          <?php if (!empty($view->twofa_required)): ?>
          checked="checked"
          <?php endif ?>
        />
        <?=esc_html__('Always peform two-factor authentication', 'kavenegar2fa')?>
      </label>
    </td>
  </tr>

  <tr id="kavenegar2fa_phone-wrap">
    <th>
      <?=esc_html__('Phone number', 'kavenegar2fa')?>
    </th>
    <td>
      <input
        name="kavenegar2fa_phone"
        type="text"
        class="regular-text ltr"
        type="tel"
        pattern="^\s*\+?([0-9]{10,12})\s*$"
        required="required"
        minlength="10"
        maxlength="13"
        <?php if (!empty($view->phone)): ?>
        value="<?=esc_attr($view->phone)?>"
        <?php endif ?>
      />
    </td>
  </tr>
</table>
